body {
        background-color: #8ebb633f;
        /*background-image:
        url("https://pro2-bar-s3-cdn-cf.myportfolio.com/67cf45ca-338d-4fd0-943b-32d96162976a/b7b52d14-b827-4c3a-906f-3b94fa13f35f_rw_1920.png");*/
    }
    h1 {
        color: #558cfa;
        text-align: center;
        font-size: 130px;

    }
    p {
        color: #8b8b8bcc;
        font-family: verdana;
        font-size: 20px;
    }
    button {
        color: #fff;
        background-color: #025157;
    }
    
.header{
        margin:auto;
        margin: 40px 20px 0 20px;
        font-size: 0;
        line-height: 45px;
        font-family: sans-serif;
    }

    li{
        display: inline;
        line-height: 25px;
        color: #025157;
        font-size: 14px;
        margin-right: 10px;

    }
    .fixed-header{
      position: fixed;
      background-color: white;
      width: auto;
      height: 100px;
      top: 0;
      left: 0;
      right: 0;
      
    
    }
    .header > * {
        display: inline-block;
        font-size: 16px;
        vertical-align: middle;
        height: 100%;
        line-height: 45px;
      }
    .etiquetas{
      margin-top: 150px;
    }
      .logo {
        width: 15%;
      }
      
      /* .navbar {
        width: 70%;
        text-align: center;
        color: green;
      } */
      
      .actions > * {
        width: 75%;
        text-align: left;
        font-size: 14px;
        font-weight: 600;        
      } 
      .actions a {
            color: #67b54b;
      }
      .actions button{
          color: white;
          background-color: #67b54b;
          padding-left: 14px;
          padding-right: 14px;
          padding-top: 12;
          padding-bottom: 0%;
          border: 0;
          border-radius: 5px;
        
      }
      .imagen{
        text-align: center;
      }

      .promo{
        display: flex;
        width: 70%;
        margin: 100px auto;
        align-items: center;
        justify-content: center;
      }
      
      .publish h3 {
        font-family: "Alegreya", serif;
        font-size: 40px;
        line-height: 48px;
        color: #025157;
      }
      
      .publish > p {
        font-size: 16px;
        color: #343434;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      
      .publish > form {
        display: flex;
      }
      
      .publish > form p {
        color: #025157;
        margin-right: 18px;
      }
      .publish {
        margin-left: 20px;
      }
      .video {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .publish h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .todo{
        display: flex;
      }

      /*.features {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-columns: repeat(2, 300px);
        grid-template-columns: 500px 1fr;
        grid-template-columns: 1fr 1fr;
      }*/ 
      .feature-art {
        background-color: lightgreen;
        margin: 10px;
        width: 40%;
        height: 50px;
      }
      .features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 330px);
      }

/**/      
      .features {
        background-color: #025157;
        padding: 5% 10%;
        display: grid;
        grid-template: repeat(2, 330px) / repeat(2, 1fr);
      }
      
      .features .feature-card {
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
        background-color: #fff;
        border: 1px solid #dadada;
        border-radius: 5px;
        display: flex;
        align-items: center;
        overflow: hidden;
      }
      
      .features .feature-card .feature-content {
        padding: 30px 20px 40px 40px;
        flex: 2;
      }
      
      .features .feature-card .feature-content > * {
        margin-bottom: 1rem;
        margin-top: 0;
      }
      
      .features .feature-card .feature-content img {
        width: 50px;
      }
      
      .features .feature-card .feature-content h3 {
        font-size: 24px;
        color: #343434;
        font-weight: 400;
      }
      
      .features .feature-card .feature-content p {
        font-size: 16px;
        color: #7e7e7e;
        font-weight: 400;
      }
      
      .features .feature-card .feature-content a {
        font-size: 16px;
        color: #67b54b;
        font-weight: 600;
        text-decoration: none;
      }
      
      .features .feature-card .feature-image {
        flex: 1;
        width: 40%;
        position: relative;
        right: -50px;
        height: 80%;
      }
      
      .features .feature-card .feature-image figure,
      .features .feature-card .feature-image img {
        margin-top: 0;
        height: 100%;
      }
      
      .carousel-inner{
        max-height: 100%;
        height: 550px;
      }

      .cartas{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;  
        align-content: center;
        grid-template: repeat(2, 330px) / repeat(2, 1fr);

        
      }
      /** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  /* .navbar , .actions {
    display: none; */
  }
  h1{
    font-size: 30px;
  }
  .main{
    margin-top: 130px;
  }
  .banner > img{
    width: 100%;
  }
  .publish1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
  }
  .features {
    display: flex;
    flex-direction: column;
  }
} 

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
}
